.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sobre p {
    color: #aaa;
    margin-bottom: 2em;
}

.sobre a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}